@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&family=Roboto&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


body{
    background-size: cover;
    
}


.titulo{
    font-size: 3rem !important;
    width: 100vw;
    margin: 0;
    line-height: 3;
}


#status{
    width: 60%;
    margin: 10px;
    font-size: 2rem !important;
}


canvas{
    margin-top: 10vh;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 05px black;
}